<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Upload File</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/js/resx")
    @Scripts.Render("~/js/sfuapp")


</head>
<body ng-app="sfuapp"
      ng-controller="sfuctrl"
      ng-cloak>
    <iframe id="frmDnd"
            name="frmDnd"
            class="phantomFrame"></iframe>
    <div id="dropHere"
         ng-class="{cantDrop: choiceType.type == 'text' && optionalControlNumber.text == ''}"
         class="dropZone"
         ng-click="simulateFileClick()"
         ondragover="angular.element(this).scope().handleDragOver(event)"
         ondragleave="angular.element(this).scope().handleDragLeave(event)"
         ondrop="angular.element(this).scope().handleDnDFileSelect(event)"
         dropzone="">
        <div class="header">
            {{title}}
        </div>
        <div ng-if="changeImage && hasRedactions && status != 2" class="redaction-warning">
            <div class="redaction-warning-icon">
                <img src="~/Content/Images/warning-6-24.png" />
            </div>
            <div class="redaction-text">
                Please note that this image contains
                redactions and proceeding will replace the entire image
                and remove any highlights or redactions.
            </div>
        </div>
        <div class="status_img" ng-style="{'margin-top' : (changeImage && hasRedactions) ? '16px' : '30px' }">
            <img ng-if="status == 0" src="~/Content/Images/Upload.png" />
            <img ng-if="status == 1" src="~/Content/Images/Uploading.gif" />
            <img ng-if="status == 2 || status == 6" src="~/Content/Images/Fail.gif" />
            <img ng-if="status == 3" src="~/Content/Images/Success.gif" />
            <img ng-if="status == 4" src="~/Content/Images/Upload_Hover.png" />
            <img ng-if="status == 5" src="~/Content/Images/Alert.png" />
        </div>
        <span id="msg" ng-show="showMessage" class="message">
            Drop your file here or
            <span> click to select a file.</span>
        </span>

        @if (ViewBag.ToggleEnableFileName && ViewBag.ChangeImage == "false" && ViewBag.DocID <= 0)
        {
            <div ng-if="errorID == 0">
                <hr />
                <div class="controlNumber controlNumber-label">
                    <label>Control Number: </label>
                </div>
                <div class="radio controlNumber controlNumber-selector">
                    <input id="fileName" type="radio" ng-model="choiceType.type" name="rdChoiceType" value="fileName">
                    <label for="fileName" ng-click="$event.stopPropagation();optionalControlNumber.text='';">File Name</label><br />
                    <input id="controlNumber" type="radio" ng-model="choiceType.type" name="rdChoiceType" value="text">
                    <label for="controlNumber" ng-click="$event.stopPropagation();">&nbsp;</label>
                    <input type="text" onfocus="angular.element(this).scope().focusControlNumber(true);" onblur="angular.element(this).scope().focusControlNumber(false);" ng-model="optionalControlNumber.text" name="txtControlNumber" ng-disabled="choiceType.type == 'fileName'" />
                </div>
            </div>
        }
        else
        {
            <script>
                if(window.frameElement != null){
                    window.frameElement.parentElement.style.height = "335px";
                }
            </script>
        }

        <div class="button_actions"
             ng-if="status == 5 || status == 2 || status == 6">
            <div class="buttonsZone">
                <button ng-show="status == 5" class="btnPrimary" ng-click="forceUpload(); $event.stopPropagation(); $event.preventDefault();">Replace Document</button>
                <button ng-show="status == 2" class="btnPrimary" ng-click="simulateFileClick(true); $event.stopPropagation(); $event.preventDefault();">{{changeImage ? 'Upload New Image' : 'Upload New Document'}} </button>
                @*<button ng-click="cancel()">Cancel</button>*@
                <button id="closeBtn" class="secondary-button" ng-click="close()">Close</button>
                @*<button id="closeBtn" class="secondary-button">Close</button>*@
            </div>
        </div>
    </div>
    <form id="btiForm"
          ng-if="errorID == 0" action="sfu/Upload?AppID=@ViewBag.AppID&img=@ViewBag.ChangeImage"
          enctype="multipart/form-data"
          method="post"
          class="form"
          target="frmDnd">
        <input type="file"
               id="file"
               name="file"
               onchange="angular.element(this).scope().submitFrm();" />
        <input type="hidden" id="fid" name="fid" value="" />
        <input type="hidden" id="fdv" name="fdv" value="@ViewBag.FDV" />
        <input type="hidden" id="did" name="did" value="" />
        <input type="hidden" id="force" name="force" value="false" />
        <input type="hidden" id="newImage" name="newImage" ng-model="newImage" />
        <input type="hidden" id="controlNumberText" name="controlNumberText" ng-value="optionalControlNumber.text" />
    </form>
    <form id="btiForm"
          ng-if="errorID != 0" action="sfu/UploadProcessingError?AppID=@ViewBag.AppID&errorID=@ViewBag.ErrorID"
          enctype="multipart/form-data"
          method="post"
          class="form"
          target="frmDnd">
        <input type="file"
               id="file"
               name="file"
               onchange="angular.element(this).scope().submitFrm();" />
    </form>
    <form id="btiFormDD" ng-if="errorID == 0"
          action="sfu/Upload?AppID=@ViewBag.AppID&fdv=@ViewBag.FDV&img=@ViewBag.ChangeImage"
          enctype="multipart/form-data"
          method="post"
          class="form"
          target="frmDnd"></form>
    <form id="btiFormDD"
          ng-if="errorID != 0"
          action="sfu/UploadProcessingError?AppID=@ViewBag.AppID&errorID=@ViewBag.ErrorID&img=@ViewBag.ChangeImage"
          enctype="multipart/form-data"
          method="post"
          class="form"
          target="frmDnd"></form>

    <script>
        var errorID = @ViewBag.ErrorID;
        var AppID = @ViewBag.AppID;
        var docID = @ViewBag.DocID;
        var FDV = "@ViewBag.FDV" == "true";
        var ChangeImage = "@ViewBag.ChangeImage" == "true";
        var NewImage = "@ViewBag.NewImage" == "true";
        var HasRedactions = "@ViewBag.HasRedactions" == "true";
        var HasImages = "@ViewBag.HasImages" == "true";
        var HasNative = "@ViewBag.HasNative" == "true";
        var ProfileArtifact = @ViewBag.ProfileID;
    </script>

</body>
</html>